
# Include the README
include *.md

# Include the license file
include LICENSE

# Include the data files
#recursive-include data *

recursive-include sr_vulkan *.pyd
recursive-include sr_vulkan *.pyi
recursive-include sr_vulkan *.so
recursive-include sr_vulkan *.bin
recursive-include sr_vulkan *.param
recursive-include src *
recursive-include VulkanSDK *